.Notice{
    display: flex;
    flex-direction: column;
    gap: 0px 10px;
    padding: 24px 16px;
}

.Notice-title{
    font-size: 18px;
    font-weight: 700;
    color: #000000;
}

.Notice-preview{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
}

.Notice-more{
    font-size: 12px;
    font-weight: 400;
    color: #000000;
}

.NoticeHeader{
    display: flex;
    justify-content: space-between;
}