.CompleteContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.CompleteTitle {
    font-size: 22px;
    font-weight: 700;
    color: #212121;
}

.CompleteDescription {
    font-size: 16px;
    font-weight: 400;
    color: #212121;
}

.CompleteImageContainer {
    width: 100%;
    height: 50vh; /* 수정: 뷰포트 높이의 50%로 설정 */
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: center;
}

.CompleteImage {
    width: 200px;
    height: 200px;
}

.CompleteButton{
    background-color: rgb(43, 109, 242);
    color: white;
    border: none;
    padding: 14px 20px;
    border-radius: 12px;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: env(safe-area-inset-bottom); /* iOS 안전 영역 고려 */
}

.CompleteButtonContainer {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 20px;
        position: fixed; /* 화면 하단에 고정 */
        bottom: 0; /* 하단에 배치 */
        left: 50%; /* 가운데 정렬을 위해 */
        transform: translateX(-50%); /* 가운데 정렬 완료 */
        max-width: 800px; /* 컨테이너와 동일한 최대 너비 */
        background-color: white; /* 버튼 영역 배경색 */
}