.NoticeDetailContainer {
    width: 100%;
    height: 100%;
    background-color: #F9FAFB;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.NoticeDetailHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.NoticeDetailBackButton {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

.NoticeDetailTitle {
    font-size: 24px;
    font-weight: 600;
}

.NoticeDetailContents {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.PostTitle {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.PostUserInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.PostUserInfoText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

.PostUserIcon {
    width: 40px;
    height: 40px;
}

.PostUserName {
    font-size: 16px;
    font-weight: 600;
}

.PostDate {
    font-size: 12px;
    font-weight: 400;
    color: #808080;
}

.PostContent {
    margin-top: 20px;
}

.PostContentText {
    font-size: 16px;
    font-weight: 400;
}




